/* nav.css */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem; 
  background-color: #dc3546; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar-brand {
  font-size: 1.5rem; 
  color: white; 
  text-decoration: none; 
  font-weight: bold; 
}

.navbar-brand:hover {
  opacity: 0.8;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-link {
  color: white; 
  text-decoration: none; 
  margin-left: 1.5rem; 
  font-size: 1.2rem; 
}

.nav-link:hover {
  opacity: 0.8; 
}
